

.content {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.resources-section {
    margin-top: 20px;
}

.resources-section h2 {
    font-size: 24px;
    color: #333;
}

.resources-section ul {
    list-style-type: none;
    padding: 0;
}

.resources-section li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resources-section li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.resources-section li a:hover {
    text-decoration: underline;
}

footer {
    color: black;
}