
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .main {
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.services {
  float: left;
  overflow: hidden;
}

.services .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .services:hover .dropbtn {
  background-color: rgb(241, 183, 222);
  color: black;
}


.services-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.services-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.services-content a:hover {
  background-color: #ddd;
}

.services:hover .services-content {
  display: block;
}

.logout {
    float: right;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.budget-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px; /* Increase spacing between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    background-color: #676fba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #9998cf;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
