
.body{
  background-color: blue;
}
.login-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.login-container form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-container .form-group {
  margin-bottom: 20px; /* Increase spacing between form groups */
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  background-color: #919bd4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #b1a3ea;
}

.login-container p {
  margin-top: 20px;
  text-align: center;
}

.login-container p a {
  color: #db4b7b;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}
