body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar .main {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.services {
  float: left;
  overflow: hidden;
}

.services .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .services:hover .dropbtn {
  background-color: rgb(241, 183, 222);
  color: black;
}

.services-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.services-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.services-content a:hover {
  background-color: #ddd;
}

.services:hover .services-content {
  display: block;
}

.navbar .logout {
  float: right;
}

