

.signup-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.signup-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.signup-container .form-group {
    margin-bottom: 20px; /* Increase spacing between form groups */
}

.signup-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.signup-container input,
.signup-container select {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container button {
    background-color: #919bd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #b1a3ea;
}

.signup-container p {
    margin-top: 20px;
    text-align: center;
}

.signup-container p a {
    color: #db4b7b;
    text-decoration: none;
}

.signup-container p a:hover {
    text-decoration: underline;
}

.btn-link {
    background-color: #919bd4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure proper padding */
    text-align: center;
}

.btn-link:hover {
    background-color: #b1a3ea;
}